body {
  background-image: url(https://wallpaperaccess.com/full/1116882.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
.mainCover{
  height: 100vh;
  width: 40%;
  position: absolute;
  left: 0;
  bottom: 3%;
}
.swiper {
  width: 30%;
  height: 100vh;
  position: relative;
  /* padding: 4px; */
  left: 380px;
  background-color: rgb(52, 47, 47);
}
.mySwiper {
  height: 100vh;
}
.swiper-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 600px;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  width: 300px;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  position: relative;
  opacity: 70%;
}
.swiper-slide-prev{
opacity: 50%;
/* width: 200px; */
}
.swiper-slide img {
  width: 110px;
  height: 100px;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 84%;
  object-fit: cover;
  border: 2px solid black;
}
.swiper-slide-active {
  width: 300px;
  transform: scale(1.1);
  padding: 18px 15px;
  z-index: 1;
  transition: 0.3s all;
  border: 4px solid rgb(249, 244, 244); 
  opacity: 100%;
}
.slider1 .name{  
 position: absolute;  
 display: inline;
 right: 17%;
 bottom: 48%;
 font-size: 20px;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 600;
 color: white;

}
.slider1 .position{
  position: absolute;  
  display: inline;
  right: 11%;
  bottom: 30%;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif; 
  color: white;
}
.slider1 .workExp{
  position: absolute;  
 display: inline;
 right: 9%;
 bottom: 14%;
  font-family: 'Times New Roman', Times, serif;
 font-size: 16px;
 color: white;
}
.slider2 .name{  
  position: absolute;  
  display: inline;
  right: 5%;
  bottom: 49%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider2 .position{
   position: absolute;  
   display: inline;
   right: 13.5%;
   bottom: 31%;
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif; 
   color: white;
 }
 .slider2 .workExp{
   position: absolute;  
  display: inline;
  right: 8%;
  bottom: 14%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider3 .name{
  position: absolute;  
  display: inline;
  right: 20%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider3 .position {
  position: absolute;  
 display: inline;
 right: 11%;
 bottom: 33%;
 font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider3 .workExp{
  position: absolute;  
  display: inline;
  right: 8%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider4 .name{
  position: absolute;  
  display: inline;
  right: 27%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider4 .position {
  position: absolute;  
 display: inline;
 right: 26%;
 bottom: 33%;
 font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider4 .workExp{
  position: absolute;  
  display: inline;
  right: 10%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider5 .name{
  position: absolute;  
  display: inline;
  right: 22%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider5 .position {
  position: absolute;  
 display: inline;
 right: 31.5%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider5 .workExp{
  position: absolute;  
  display: inline;
  right: 12%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider6 .name{
  position: absolute;  
  display: inline;
  right: 4%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider6 .position {
  position: absolute;  
 display: inline;
 right: 22%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider6 .workExp{
  position: absolute;  
  display: inline;
  right: 10%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider7 .name{
  position: absolute;  
  display: inline;
  right: 27%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider7 .position {
  position: absolute;  
 display: inline;
 right: 5%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider7 .workExp{
  position: absolute;  
  display: inline;
  right: 10%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider8 .name{
  position: absolute;  
  display: inline;
  right: 5%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider8 .position {
  position: absolute;  
 display: inline;
 right: 22%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider8 .workExp{
  position: absolute;  
  display: inline;
  right: 41.5%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 
 .slider9 .name{
  position: absolute;  
  display: inline;
  right: 12%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider9 .position {
  position: absolute;  
 display: inline;
 right: 23%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider9 .workExp{
  position: absolute;  
  display: inline;
  right: 41%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider10 .name{
  position: absolute;  
  display: inline;
  right: 7%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider10 .position {
  position: absolute;  
 display: inline;
 right: 29%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider10 .workExp{
  position: absolute;  
  display: inline;
  right: 12%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider11 .name{
  position: absolute;  
  display: inline;
  right: 18%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider11 .position {
  position: absolute;  
 display: inline;
 right: 20%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider11 .workExp{
  position: absolute;  
  display: inline;
  right: 12%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider12 .name{
  position: absolute;  
  display: inline;
  right: 20%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider12 .position {
  position: absolute;  
 display: inline;
 right: 18%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider12 .workExp{
  position: absolute;  
  display: inline;
  right: 10%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider13 .name{
  position: absolute;  
  display: inline;
  right: 30%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider13 .position {
  position: absolute;  
 display: inline;
 right: 17%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider13 .workExp{
  position: absolute;  
  display: inline;
  right:9%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider14 .name{
  position: absolute;  
  display: inline;
  right: 24%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider14 .position {
  position: absolute;  
 display: inline;
 right: 17%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider14 .workExp{
  position: absolute;  
  display: inline;
  right:9%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider15 .name{
  position: absolute;  
  display: inline;
  right: 14%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider15 .position {
  position: absolute;  
 display: inline;
 right: 17%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider15 .workExp{
  position: absolute;  
  display: inline;
  right:9%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }
 .slider16 .name{
  position: absolute;  
  display: inline;
  right: 15.3%;
  bottom: 51%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
 }
 .slider16 .position {
  position: absolute;  
 display: inline;
 right: 17%;
 bottom: 33%;
font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 }
 .slider16 .workExp{
  position: absolute;  
  display: inline;
  right:9%;
  bottom: 16%;
   font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
 }