body{
  min-height: 100vh;
}
.slider{
  height: 90vh;
  margin: auto;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.slide-track{
  display: flex;
  flex-direction: column;
  height:  calc(250px * 18);
  animation: scroll 30s linear infinite;
}
.slide-track:hover{
  animation-play-state:paused;
}
@keyframes scroll {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(calc(-250px * 9));
  }
}
.slide{
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
   padding: 15px;
  border: 2px solid black;
  object-fit: cover;
  margin: 5px;
}
img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 5s;
  border-radius: 60px;
  margin-right: 140px;
}
.slide .content{
  visibility: hidden;
}
img:hover{
  transform: translateZ(20px);
}
